@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #494949;
    --accent1-color: #261bb6;
    --accent2-color: #2c6b2c;

    --heading-font: 'Dancing Script', serif;
    --paragraph-font: 'Playfair Display', serif;

    --nav-background-color: #006605;
    --nav-link-color: #afafaf;
    --nav-hover-link-color: #1212ac;
    --nav-hover-background-color: #086b45;
}

.grid {
    display: grid;
    align-items: center;
}

header {
    background-color: steelblue;
    position: relative;
    margin: 1rem auto;
    grid-template-columns: 120px 1fr 2fr;
    border-bottom: 1px solid #ccc;
	max-width: 840px;
    margin: 0 auto;
    left: 425px;
}

header img {
    margin: 0 0.25rem 0 1rem;
	width: 250px;
	height: auto;
}

nav {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    position: relative;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    left: 175px;
    width: 125px;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    font-weight: 700;
    text-decoration: underline;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

div.hero {
    position: relative;
}

.hero img {
    position: relative;
    top: 20px;
    left: 125px;
    display: block;
    width: 1500px;
    height: 450px;
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    text-wrap: nowrap;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    padding-left: 400px;
    padding-right: 570px;
    border: 1px solid black;
    margin-top: 25px;
    margin-left: 400px;
    margin-bottom: 50px;
}

article {
    position: absolute;
    background: rgba(60, 53, 102, 0.7);
    bottom: 100px;
    left: 150px;
    right: 150px;
    padding-right: 200px;
}

article p {
    display: flex;
    align-items: flex-start;
    color: var(--primary-color);
}

.description img {
    display: flex;
    height: 100px;
    float: right;
    width: 150px;
}

.history {
    display: block;
    position: relative;
    border: 1px solid black;
    background-color: var(--secondary-color);
    top: 50px;
    left: 200px;
    padding-bottom: 50px;
    padding-right: 100px;
}

h2 {
    font-family: var(--heading-font);
    font-size: xx-large;
    font-weight: normal;
    
}

.history p {
    font-family: var(--paragraph-font);
    align-items: flex-start;
}

.adventure {
    display: grid;
    position: relative;
    top: 100px;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    grid-template-rows: 20px;
}

.adventure h2 {
    grid-column: 3/4;
    grid-row: 1;
    text-wrap: nowrap;
}

.adventure img {
    width: 500px;
    height: auto;
}

.img_1 {
    grid-column: 1/2;
    grid-row: 2;
}

.img_2 {
    grid-column: 2/3;
    grid-row: 2;
}

.img_3 {
    grid-column: 3/4;
    grid-row: 2;
}

.img_4 {
    grid-column: 4/5;
    grid-row: 3;
}

.img_5 {
    grid-column: 5/6;
    grid-row: 2;
}

nav.social_media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

table, td {
    margin-top: 25px;
    border: 1px solid black;
    margin-right: auto;
    margin-left: auto;
}

td {
    padding: 10px;
}

figure {
    padding-top: 50px;
    padding-bottom: 50px;

}

figure img {
    width: 1200px;
    height: auto;
}

form {
    padding-right: 500px;
}

